<!-- <ion-view title="Login" ng-controller="LoginController"> -->
  <ion-content padding="true" ng-controller="LoginController">   
      <div class="row responsive-sm">
        <div class="col"></div>
        <div class="col">
          <img class="item-image"src="img\logoapp.png" style="left: 90px; !important"  /> 
        </div>
        <div class="col"></div>
      </div>
      <form class="list">
        <div class="item item-divider">
          Entre com os seus dados de login
        </div>
        <div>{{message}}</div>
        <label class="item item-input">
          <input type="text" placeholder="Usuário" id="username" ng-model="user.username" required>
        </label>
        <label class="item item-input">
          <input id="password" ng-model="user.password" type="password" placeholder="Senha" required>
        </label>
        <div class="padding">
          <button class="button button-block button-stable button-positive" ng-click="login()">Login</button>
        </div>
      </form>
	  <!-- 
      <div class="col-md-6">
        <p class="alert alert-info">Login with either user:user to read entries or with admin:admin to read and edit entries.</p>
      </div>
	  -->
    </ion-content>
<!-- </ion-view> -->