<ion-view title="Disciplinas">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
	<ion-content>
		<ion-item item="item" ui-sref="professor.lista_alunos" ui-sref-opts="{reload: true}">
			<ion-list>
				MO409 - Turma A - Engenharia de Software I
			</ion-list>
		</ion-item>
		<ion-item item="item" href="#">
			<ion-list>
				MO611 - Turma B - Redes de Computadores
			</ion-list>
		</ion-item>
	</ion-content>
  
  
  </ion-view>