<ion-view title="Chamada">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">		
  
  <!--
		<ul class="list">
			<li class="item item-checkbox" ng-repeat="chamada in chamadas">
				<div class="row responsive-sm">
					<div class="col-10">
							<h2>{{ chamada.turma.codDisciplina }}</h2>
							<h3>TURMA {{ chamada.turma.codTurma }}</h3>
					</div>
					<div class="col-8">
							<p>{{ chamada.turma.nomeDisciplina }}</p>
					</div>
				<div>
				<label class="checkbox">
					<input type="checkbox" name="turma" ng-model="formData.turma" ng-true-value="{{ chamada.turma.idTurma }}" ng-value="{{ chamada.turma.idTurma }}">
				</label>				
			</li>			
		</ul>	
		
		-->
		

		<div class="card">
			<div class="item item-text-wrap">
				<div class="row responsive-sm">
					<div class="col">
							<h2>Engenharia de Software I{{ chamada.turma.codDisciplina }}</h2>
							<h3>TURMA MO409{{ chamada.turma.codTurma }}</h3>
					</div>
					<div class="col">
							<p>{{ chamada.turma.nomeDisciplina }}</p>
					</div>
				</div>

				<p> Terça-feira, 17 de junho de 2015. </p>
		
				<p> <br/> <b> Duração da aula: </b>  <span id="hora">00h</span><span id="minuto">00m</span><span id="segundo">00s</span> </p><br/>
				
				<h4 class="title" align="center"> Parâmetros Validação de Presença</h4>
					<p> Tempo de permanência em sala: </p>
					<p> Quantidade de ticks: 75% </p>
				</div> 
		</div>
		

		
		<button  class="button button-block button-assertive icon-left ion-android-checkbox-outline" ng-click="confirmEncerrarChamada()">
			Encerrar Chamada
		</button>
  </ion-content>
</ion-view>		