<ion-view title="Chamada">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">		    
		<script type="text/javascript">
			startTimer();
			data();
		</script>
		<div class="card">						
				<div class="item">
					<p> 
						<span id="data"></span>
					</p>

					<p> <b> Duração da aula: </b>  <span id="hora">00h</span><span id="minuto">00m</span><span id="segundo">00s</span> </p>
				</div>
				<div class="item">
					<p class="title"> <b> Parâmetros Atuais para Validação de Presença </b> </p> 
					<br/>
					<p> Tempo da aula: {{chamadas[0].duracao}} mins </p>
					<p> Porcentagem para presença: {{chamadas[0].porcentagem}}% </p>
					<p> Quantidade mínima de ticks: {{chamadas[0].numMinTicks}} </p>
				</div> 
		</div>
		<div class="card" ng-repeat="chamada in chamadas">
			
				<div class="item item-divider row responsive-sm">
					<div class="col-10">
							<h2>{{chamada.turma.codDisciplina}}</h2>
							<h2>TURMA {{chamada.turma.codTurma}}</h2>
					</div>
					<div class="col-8">
							<h3>{{chamada.turma.nomeDisciplina}}</h3>
					</div>				
				</div>				
		</div>		
		<div class="row responsive-sm">
			<div class="col"></div>
			<div class="col">
		<button  class="button button-block button-assertive icon-left ion-android-checkbox-outline" ng-click="confirmEncerrarChamada()">
			Encerrar Chamada
		</button>
		</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-view>		