<ion-view title="Frequência">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-content>
		<div class="list card">
			<div class="item item-divider row responsive-sm">
					<div class="col-10">
							<h2>MO409</h2>
							<h2>TURMA A</h2>
					</div>
					<div class="col-8">
							<h4>Engenharia de Software I</h4>
					</div>
			</div>
			<p class="item responsive-sm"> 
				<b> Nome do Aluno</b><br/>
				<p> RA123456</p><br/>
				<p class="item responsive-sm"> 
				<b> Aulas dadas: </b> 15 <br/>
				<b>  Presenças:</b>  10 (66%) | <b> Faltas: </b> 5 (34%)
			</p>
			</p>
		</div>
		
		<ion-item item="item">
			<ion-list>
				<b> 02/05/2015 </b> - Presente 
			</ion-list>
		</ion-item>
		<ion-item item="item">
			<ion-list>
					<b> 04/05/2015 </b> - Ausente
			</ion-list>
		</ion-item>
  
    <ion-content>
</ion-view>