<ion-view title="Alunos Matriculados">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-content>
		<div class="list card">
			<div class="item item-divider row responsive-sm">
					<div class="col-10">
							<h2>MO409</h2>
							<h2>TURMA A</h2>
					</div>
					<div class="col-8">
							<h4>Engenharia de Software I</h4>
					</div>
			</div>
			<p class="item responsive-sm"> 
							 <b> Nome do Aluno</b><br/>
							 <p> RA123456</p><br/>
							 <b>Presenças:</b> 75%  <br/>
							 <b>Faltas:</b> 25%
			</p>
		</div>
  
    <ion-content>
</ion-view>