<ion-view title="Frequência">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-content padding="true">
		<div class="list card">
			<div class="item item-divider row responsive-sm">
					<div class="col-10">
							<h2>{{frequencia_aluno.turma.codDisciplina}}</h2>
							<h2>TURMA {{frequencia_aluno.turma.codTurma}}</h2>
					</div>
					<div class="col-8">
							<h3>{{frequencia_aluno.turma.nomeDisciplina}}</h3>
					</div>
			</div>
			<p class="item responsive-sm"> 
				<b> {{frequencia_aluno.alunos.nome}}</b><br/>
				 {{frequencia_aluno.alunos.raAluno}} <br/>
			</p>
				<p class="item responsive-sm"> 
					<b> Aulas dadas: </b> {{frequencia_aluno.turma.numChamadas}} <br/>
					<b>  Presenças:</b>  10 (66%) | <b> Faltas: </b> 5 (34%)
				</p>
			
		</div>
		
		<ion-item item="item" ng-repeat="frequencia in frequencia_aluno.presencas">
			<ion-list>
				<b> {{frequencia.data}} </b> - {{frequencia.presente}} 
			</ion-list>
		</ion-item>
		<!--
		<ion-item item="item">
			<ion-list>
					<b> 04/05/2015 </b> - Ausente
			</ion-list>
		</ion-item>

		-->
  
    <ion-content>
</ion-view>