<ion-view title="Professor">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
	  <br/><br/><br/><br/>
      <button class="button button-block button-dark icon-left ion-android-checkbox-outline" 
										ui-sref="professor.chamada-turmas" ui-sref-opts="{reload: true}"> Chamada </button>
	  <button class="button button-block button-dark icon-left ion-ios-folder"
										ui-sref="professor.disciplinas" ui-sref-opts="{reload: true}"> Disciplinas </button>
	  <button class="button button-block button-dark icon-left ion-android-contacts"
										ui-sref="professor.alunos" ui-sref-opts="{reload: true}"> Alunos </button>
	  <button class="button button-block button-dark icon-left ion-document-text"> Relatórios </button>
	  
    
  </ion-content>
</ion-view>