<ion-view title="Alunos Matriculados">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content>
		<div class="list card">
			<div class="item item-divider row responsive-sm">
					<div class="col-10">
							<h2>MO409</h2>
							<h2>TURMA A</h2>
					</div>
					<div class="col-8">
							<h4>Engenharia de Software I</h4>
					</div>
			</div>
			<p class="item responsive-sm"> <b>Quantidade de alunos matriculados:</b> 38 <br/>
							 <b>Número de aulas dadas:</b> 15 <br/>
							 <br/>
							 <b>Presenças:</b> 75%  <br/>
							 <b>Faltas:</b> 25%
			</p>
		</div>

		<ion-item item="item" ui-sref="professor.frequencia_aluno" ui-sref-opts="{reload: true}">
			<ion-list>
				<p> <b> Nome do Aluno <br/> </b>RA123456 <p>
				<p> <b>  Presenças:</b>  10 (66%) | <b> Faltas: </b> 5 (34%) </p>
			</ion-list>
		</ion-item>
		<ion-item item="item" href="#">
			<ion-list>
				<p> <b> Nome do Aluno 2 <br/> </b>RA234567 <p>
				<p> <b>  Presenças:</b>  10 (66%) | <b> Faltas: </b> 5 (34%) </p>
			</ion-list>
		</ion-item>

  <ion-content>
</ion-view>