<ion-view title="Chamada">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
  		<script type="text/javascript">
			stopTimer();
		</script>	
		<ul class="list bar-positive">
			<li class="item item-divider">
				<div class="row responsive-sm">
					<div class="col col-33">
							<b> Data da Aula: </b> {{ presencas[0].dataChamada }}
							<br/>
							<b>Hora Início: </b>{{ presencas[0].horaInicio }}
							<br/>
							<b>Hora Fim: </b> {{ presencas[0].horaFim }}
					</div>
				
					<div class="col col-33">
							<p class="title"> <b>Disciplina </b></p>
							<p ng-repeat="presenca in presencas">
								{{ presenca.turma.codDisciplina }} - TURMA {{ presenca.turma.codTurma }}
							</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="item" ng-repeat="presenca in presencas">
			<ul class="list">
				<li class="item" ng-repeat="aluno in presenca.frequencia">
					<div class="row responsive-sm">
						<div class="col col-20">
								<h2> {{ aluno.nome }} <br/> RA{{aluno.raAluno }}</h2>
						</div>
						<div class="col">

								<p style="color:green; !important">{{aluno.status}}</p>

						</div>
					</div>
				</li>			
			</ul>
		</div>
  </ion-content>
</ion-view>