<?xml version="1.0" encoding="UTF-8"?>
<bean:beans
	xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!--
	Applies to root appContext beans only, for MVC Controllers is this declaration repeated in MVC config.
	Actually, we currently don't need this as we have on annotation outside of MVC.
	There is more here that can go wrong. If you use interface-based proxy (our demo uses CGLib), you may
	need to add proxy-target-class="true" as well. Book "Spring Security 3.1", Chapter 10, Fine-grained
	Access Control, from header "Method security on Spring MVC controllers" on discusses these topics.
	-->
	<global-method-security secured-annotations="enabled"/>

	<bean:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder">
		<bean:constructor-arg value="ThisIsASecretSoChangeMe" />
	</bean:bean>
	
	<bean:bean id="UsuarioDAO" class="br.unicamp.ic.mo409.dao.UsuarioDAO">
	</bean:bean>		
	
	<authentication-manager id="authenticationManager">
		<authentication-provider user-service-ref="UsuarioDAO">
			<password-encoder ref="passwordEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>

	<http
			realm="Protected API"
			use-expressions="true"
			auto-config="false"
			create-session="stateless"
			entry-point-ref="unauthorizedEntryPoint"
			authentication-manager-ref="authenticationManager">
		<custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
		<intercept-url pattern="/rest/user/authenticate" access="permitAll" />
		<intercept-url method="GET" pattern="/rest/news/**" access="hasRole('user')" />
		<intercept-url method="PUT" pattern="/rest/news/**" access="hasRole('admin')" />
		<intercept-url method="POST" pattern="/rest/news/**" access="hasRole('admin')" />
		<intercept-url method="DELETE" pattern="/rest/news/**" access="hasRole('admin')" />
	</http>

	<bean:bean id="unauthorizedEntryPoint" class="net.dontdrinkandroot.example.angularrestspringsecurity.rest.UnauthorizedEntryPoint" />

	<bean:bean class="net.dontdrinkandroot.example.angularrestspringsecurity.rest.AuthenticationTokenProcessingFilter" id="authenticationTokenProcessingFilter">
		<bean:constructor-arg ref="UsuarioDAO" />
	</bean:bean>
</bean:beans>