<ion-view title="Chamada">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
		
		<div class="card">
			
			<div class="item item-image"> <br/>
				<h2 class="title"> <b> Disciplina: MO409 - Turma A </b> </h2> <br/>
				
				<br/>
				<p> <br/> <b> Duração da aula: </b>  <span id="hora">00h</span><span id="minuto">00m</span><span id="segundo">00s</span> </p><br/>
				<img src="img/sucesso.png" style="width:190px; height:140px; !important">
				<h3 class="title"> Sua presença foi registrada com sucesso! </h3> <br/>
				
			</div>
		</div>
		
		<div class="bar bar-footer bar-assertive">
			<h3 class="title"> Chamada Finalizada </h3>
		</div>

				
 </ion-content>
</ion-view>	