<ion-view title="Chamada">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
		
		<div class="card">
			<script type="text/javascript">
				startTimer();
			</script>
			<div class="item item-image"> <br/>
				<h2 class="title"> <b> Disciplina: {{ tick.turma.codDisciplina }} - Turma {{ tick.turma.codTurma }} </b> </h2> <br/><p> <br/> <b> Início da aula: </b>  {{ tick.chamada.horaInicio }} </p>				
				<br/>
				<p> <br/> <b> Tempo permanência na aula: </b>  <span id="hora">00h</span><span id="minuto">00m</span><span id="segundo">00s</span> </p><br/>
				<img src="img/Warning.png" style="width:100px; height:100px; !important">
				<h3 class="title"> Sua presença está sendo contabilizada. <br/>
									Aguarde até que ela seja confirmada! </h3> <br/>
			</div>
				
		</div>
			<button  class="button button-block button-energized icon-left ion-android-checkbox-outline" ng-click="confirmCheckOut({idPresenca: tick.idPresenca})">
				Sair da Aula
		</button>	
  </ion-content>
</ion-view>	